@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --c-ink: #111111;
    --c-ink-mut: #c8c8c8;
    --c-ink-faint: rgba(17, 17, 17, 0.18);
    --c-paper: #ffffff;
    --c-fill-page: #f4f4f4;
    --c-line-meta: #5d5d5d;
  }
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    @apply bg-paper text-ink font-sans antialiased;
    text-rendering: geometricPrecision;
    font-variation-settings: "wdth" 100, "wght" 450;
  }
  input::placeholder {
    @apply text-ink;
    opacity: 0.32;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
